/* general styles for the page */
body {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #003366;
    padding: 0;
    margin: 0;
}

/* Styles for the div which encapsulates all other elements on the page: max-width based on the picture's size (including padding and borders) & border styles */
.container {
    width: 322px;
    padding: 10px;
    border: 0.5px solid #99CC99;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* title styles, including space between it and next element */
h3 {
    font-family: 'Lobster', cursive;
    color: #993300;
    border-bottom: solid 0.5px #99CC99;
    border-radius: 20% 0;
    padding: 10px;
}

/* set image's maximum indicated width & space between it and the other elements */
img {
    max-width: 300px;
    padding: 10px;
}

/*information box */
.text {
    padding: 10px;
    border: 0.5px solid #99CC99;
    border-radius: 10% 0;
    overflow: auto; /* keeps the child div from spilling out of the container */
}

/*remove bullets from the list items and move the text a bit to the right */
ul {
    list-style: none;
    padding-left: 10px;
}

/*list labels -- should be bold */
li span {
    font-weight: bold;
}

.sources {
    float: right;
    font-size: 12px;
}

a:link,
a:hover,
a:visited,
a:active {
    color: #99CC99;
}